<h1>Edit the product</h1>

<p>
  <%= link_to "Back", @product %>
</p>

<%= form_for @product do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :price_in_dollars %><br>
    <%= f.text_field :price_in_dollars %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
